parameters:
  level: 9
  paths:
    - classes
    - views
    - index.php
    - search.php
  bootstrapFiles:
    - .phpstan/bootstrap.php
  scanFiles:
    - ../../cmsimple/classes/CSRFProtection.php
    - ../../cmsimple/classes/PageDataRouter.php
    - ../../cmsimple/classes/Pages.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
    - ../../cmsimple/utf8.php
    - ../plib/classes/HtmlString.php
    - ../plib/classes/HtmlView.php
    - ../plib/classes/Url.php
